.common-search-header {
  display: flex;
  flex-direction: column;
  .common-search-header-wrapper{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 16px 12px;
    border: 1px solid #e8e8e8;
    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
      border-color: rgba(0, 0, 0, 0.09);
    }
    .common-search-header-prams-wrapper{
      display: grid;
      grid-template-columns: repeat(3, minmax(400px, 1fr));
      border-radius: 4px;
      grid-row-gap: 4px;
      .form-item-wrapper {
        margin: auto 0px;
        >ul{
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          vertical-align:middle;
          justify-content: space-between;
          li{
            width: 400px;
            margin-right: 20px;
            height: 30px;
            float: left;
          }
        }
      }
    }

    .common-search-header-button-wrapper{
      width: 500px;
      margin: 20px 0 0 50px;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      border: none;
      button{
        margin-right: 20px;
      }
    }
  }
}
