$green-blue: #2acd8f;
$green-weird: #3cdfa1;
$green-dark: #1bb479;
$green-white: #bbf1dc;

$atmosphereColor: #6f9eff #63caff #2acd8f #ffd15d #ff9371;
$sensitiveColor: #ffcc4e #fe772c #fc4242 #d15353;
